.App {
  height: 500vh;
  display: flex;
  flex-direction: column;
  color: #ffffff;
}

.App1 {
  background-image: url("./home-bg.png");
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  top: 60vh;
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: 500, Regular;
  font-size: 60px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.flexbox-container {
  border: 2px solid #806c42;
  display: flex;

  justify-content: center;
}
.flexbox-item {
  width: 20vh;
  border-right: 1px solid #e9e9e9;
  background-color: #ffffff;
  padding: 5px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  font-family: Josefin Sans;
  font-style: normal;
  font-weight: 400, Regular;
  font-size: 25px;
  text-align: center;
  color: #e1e1e1;
}
.material-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  padding: 1px;

  color: #806c42;
}
.flexbox-item-1 {
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.flexbox-item-2 {
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.flexbox-item-3 {
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.flexbox-item-4 {
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.flexbox-item-5 {
  min-height: 5vh;
  font-size: 30px;
  background-color: #806c42;
  border-right: #806c42;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #ffffff;
}
.App2 {
  height: 150vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  font-family: Josefin Sans;
  font-style: normal;
  font-weight: 300, bold;
  font-size: 50px;
  text-align: center;
  color: #ffffff;
}
.Image-0 {
  height: 40vh;
  width: 30vh;
  font-weight: 400, Regular;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-image: url("./blank.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #806c42;
}
.Image-1 {
  height: 60vh;
  width: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-image: url("./ho-guom.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.Image-2 {
  height: 70vh;
  width: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-image: url("./cau-vang.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.Image-3 {
  height: 80vh;
  width: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-image: url("./toa-nha-o-hcm.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.Image-4 {
  height: 90vh;
  width: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-image: url("./bien-phu-quoc.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.App3 {
  height: 120vh;
  background-color: #fff0d0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Josefin Sans;
  font-weight: 700, Bold;
  font-size: 20px;

  text-align: center;
  text-transform: uppercase;
  color: #806c42;
}
.flex-image-container {
  height: 90vh;
  width: 120vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.flex-image-1 {
  height: 100%;
  width: 33.3%;

  background-image: url("./nha-biet-thu.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;

  font-family: Josefin Sans;
  font-weight: 700, Bold;
  font-size: 40px;
  color: #e1e1e1;
}

.block-234 {
  height: 100%;
  width: 66.67%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 50px;
}
.block-34 {
  height: 66.67%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 50px;
}
.flex-image-2 {
  height: 33.33%;
  width: 66, 67%;

  background-image: url("./phong-rieng.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 40px;
  color: #e1e1e1;
}
.flex-image-3 {
  height: 66, 67%;
  width: 50%;

  background-image: url("./nha-chung-cu.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 40px;
  color: #e1e1e1;
}
.flex-image-4 {
  height: 60vh;
  width: 50%;

  background-image: url("./khu-nghi-duong.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 40px;
  color: #e1e1e1;
}
